<mat-toolbar color="primary">
  <span routerLink="/">Hello Events</span>

  <div class="nav-links">
    <a mat-button routerLink="/" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
    <a mat-button routerLink="/events" routerLinkActive="active">Events</a>

      @if (authService.isAuthenticated() && currentUser?.role === 'ADMIN') {
        <a mat-button [matMenuTriggerFor]="dashboard">Dashboard</a>
        <mat-menu #dashboard="matMenu" class="vertical-menu">
          <button mat-menu-item routerLink="/users" routerLinkActive="active">
            <span>Users</span>
          </button>
          <button mat-menu-item (click)="openCreateDialog()" routerLinkActive="active">
            <span>Create Event</span>
          </button>
          <button mat-menu-item routerLink="/bookings" routerLinkActive="active">
            <span>List of Reservations</span>
          </button>
        </mat-menu>
      }
  </div>

  <div class="auth-links">
    @if (!authService.isAuthenticated()) {
      <a mat-button routerLink="/register" routerLinkActive="active">Register</a>
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
    } @else {
      <p> {{currentUser.name}} </p>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </mat-menu>
    }
  </div>
</mat-toolbar>